@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(ViewBag.CredentialError))
{
    if (ViewBag.CredentialError == "NotExist")
    {
        <div class="alert alert-info w-100" role="alert">User not found. 
            <a href="/Account/Register">Maybe Register?</a>
        </div>
    }
    else if (ViewBag.CredentialError == "Password")
    {
        <div class="alert alert-info w-100" role="alert">Password incorrect</div>
    }
}
<form asp-action="LoginUser" asp-controller="Account" method="post">
    <div class="row mb-3">
        <div class="col-md-12">
            <label class="form-label">Username</label>
            <div class="d-flex align-items-center">
                <input name="username"
                       class="form-control flex-grow-1"
                       maxlength="50"
                       required />
            </div>
        </div>
        <div class="col-md-12">
            <label class="form-label">Password</label>
            <div class="d-flex align-items-center">
                <input type="password" name="password"
                       class="form-control flex-grow-1"
                       required />
            </div>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>
