@{
    ViewData["Title"] = "Home Page";
    string username = @Context.Session.GetString("Username");
}

<div class="text-center">
    <h1 class="display-4">Welcome@(!string.IsNullOrEmpty(username) ? ", " + @Context.Session.GetString("Username") : "")</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
